@import '../../../../../../../globals.scss';
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .headerContainer {
    width: 100%;
    background-color: $quintenary-color;
    color: $primary-color;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 20px;

    h1 {
      font-size: 50px;
      font-weight: 900;
    }
    p {
      font-size: 20px;
      color: rgb(177, 177, 177);
      width: 100%;
      text-align: center;
    }
  }
  .previousPaymentsContainer {
    margin-top: 20px;
    width: 100%;

    h1 {
      text-align: left;
      font-size: 13px;
      color: rgb(126, 126, 126);
      font-weight: 400;
      margin-bottom: 10px;
    }
    .amount {
      font-size: 20px;
      color: $primary-color;
    }
    .date {
      font-size: 14px;
      color: $accent-color-dark;
    }
  }
  h1 {
    font-size: 30px;
    color: $primary-color;
  }
}
