@import '../../../../../../globals.scss';
.container {
  .newsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .newsItem {
      background-color: $quintenary-color;
      padding: 20px;

      h1 {
        font-size: 15px;
        color: $primary-color;
      }
      p {
        font-size: 13px;
        color: rgb(141, 141, 141);
      }
    }
  }
}
