@import '../../globals.scss';

.container {
  display: grid;

  grid-template-columns: 265px auto;
  grid-template-rows: 70px auto;

  width: 100%;
  height: 100dvh;
  overflow: hidden;

  //   padding: 0 1rem;
  // background-color: #f5f5f5;
  //   height: 100%;

  grid-template-areas:
    'sidebar header'
    'sidebar content';

  transition: $animation;
  -webkit-transition: $animation;

  &::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.71);
    z-index: 2;
    transition: 0.2s ease-in-out all;
    opacity: 0;
    pointer-events: none;
  }

  @include mobile {
    grid-template-columns: auto;
    grid-template-areas:
      'header'
      'content';
    .sideBar {
      position: fixed;
      left: -100%;
      z-index: 3;
    }
  }

  &.sideBarActive {
    @include mobile {
      &::after {
        opacity: 1;
        pointer-events: all;
      }
    }

    .sideBar {
      left: 0;
    }
  }

  .sideBar {
    background: white;
    height: 100%;
    grid-area: sidebar;
    transition: $animation;
    -webkit-transition: $animation;
    width: auto;
    position: fixed;
    width: 265px;
    z-index: 4;
  }
  .content {
    background-color: $quintenary-color;
    height: 100dvh;
    grid-area: content;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;

    &.controlBarActive {
      grid-template-columns: auto 1fr;
      @include mobile {
        grid-template-columns: auto;
      }
    }

    .controlContainer {
      height: 100%;
      overflow-y: auto;
      padding-bottom: $header-height;

      transition: $animation;
      -webkit-transition: $animation;
      max-width: 100%;
    }
    .controlToggleBtn {
      position: fixed;
      bottom: 70px;
      right: 10px;
      width: 60px;
      height: 60px;
      padding: 15px;
      font-size: 30px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 50%;
      background-color: $secondary-color;
      z-index: 2;
      cursor: pointer;
      display: none;
    }
    @include mobile {
      grid-template-columns: auto;

      .controlContainer {
        position: fixed;
        left: -100%;
        z-index: 1;
      }
      .controlToggleBtn {
        display: flex;
      }
    }

    &.controlContainerActive {
      @include mobile {
        &::after {
          opacity: 1;
          pointer-events: all;
        }
      }

      .controlContainer {
        left: 0;
      }
    }

    .childrenWrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      overflow-y: auto;
      padding-bottom: $header-height;
      overflow-y: auto;

      .childrenContainer {
        position: relative;
        padding: 20px;
        max-width: 1500px;
        width: 100%;
        height: 100%;
      }
    }
  }
  @include desktop {
    @include tablet {
      grid-template-columns: 70px auto;

      .sideBar {
        width: 70px;
        &:hover {
          width: fit-content;
        }
      }
    }
    &.small {
      grid-template-columns: 70px auto;
      @include mobile {
        grid-template-columns: auto;
      }

      .sideBar {
        width: 70px;
        &:hover {
          width: 265px;
        }
      }
    }
  }
}
