.save {
  position: fixed;
  bottom: 10px;
  right: 0px;
  left: 0;
  margin: auto;

  font-size: 17px;
  font-weight: 900;
  padding: 0px;
  height: 40px;
  width: 90px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
