// Variables
$white: rgb(244, 246, 248);

$primary-color: #02225e;
$primary-color-lighter: #030303;
$primary-color-darker: #000b20;
$secondary-color: #0053a6;
$secondary-color-lighter: #0067b9;
$secondary-color-darker: #003f92;
$tertiary-color: #0090e0;
$tertiary-color-lighter: #00a4f3;
$tertiary-color-darker: #00b8ff;
$quaternary-color: #00ccff;
$quaternary-color-lighter: #b9f7ff;
$quaternary-color-darker: #00b8ff;
$quintenary-color: #e3eefa;
$quintenary-color-lighter: #e9eff7;
$quintenary-color-darker: #cfdae7;
$accent-color: #c42727;
$accent-color-lighter: #c44f4f;
$accent-color-darker: #921e1e;
$accent-color-dark: #23262a;
// all the colors in rgb
$primary-color-rgb: (25 29 136);
$primary-color-lighter-rgb: (43 47 182);
$primary-color-darker-rgb: (17 20 97);
$secondary-color-rgb: (20 80 163);
$secondary-color-lighter-rgb: (31 97 190);
$secondary-color-darker-rgb: (18 68 138);
$tertiary-color-rgb: (51 124 207);
$tertiary-color-lighter-rgb: (78 140 211);
$tertiary-color-darker-rgb: (40 108 185);
$quaternary-color-rgb: (255 196 54);
$quaternary-color-lighter-rgb: (255 211 108);
$quaternary-color-darker-rgb: (221 170 51);
$accent-color-rgb: (196 39 39);
$accent-color-lighter-rgb: (196 79 79);
$accent-color-darker-rgb: (146 30 30);
$accent-color-dark-rgb: (35 38 42);

$mobile-width: 768px;
$tablet-width: 1250px;

$header-height: 4.4rem;

$animation: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
$simple-animation: all 0.2s ease-in-out;

@mixin mobile {
  @media (max-width:#{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width:#{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width:#{$mobile-width}) {
    @content;
  }
}

.form {
  padding: 50px 0;
  label {
    font-size: 15px;
    font-weight: 400;
    // color: $primary-color-lighter;
    @include mobile {
      font-size: 13px;
    }
  }

  select {
    padding: 16px 13px !important;
  }
  .input {
    margin-bottom: 20px;
    border-radius: 10px;
    margin: 0;
    background-color: $quintenary-color;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: $accent-color-dark;
    width: 100%;
    border: none;
    input { 
      color: $quaternary-color-lighter;
    }

    // target the placeholder text
    &::placeholder,
    ::placeholder {
    }
    &:focus {
      // outline: none;
      // background-color: $tertiary-color-lighter;
    }

    @include mobile {
      font-size: 13px;
    }
  }

  .group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;

    gap: 10px;
  }

  .header {
    color: black !important;
    font-size: 20px !important;

    @include mobile {
      font-size: 17px !important;
    }
  }

  button {
    margin-top: 20px;
    background-color: $secondary-color-lighter;
    color: $quaternary-color-lighter;
    padding: 0 50px;
    font-weight: 600;

    @include mobile {
      width: 100%;
    }

    &:hover {
      background-color: $accent-color-dark;
    }
  }
}
